.pallete {
  flex-basis: 50%;
  border-left: thistle 1px solid;
}


.colors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px 40px;
  margin-left: 10px;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
}
