#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unit {
  margin: 0 auto;
}

.result {
  flex-basis: 100%;
  border-bottom: thistle 1px solid;
  padding-bottom: 50px;
}
